#This Apache config file was created by Duplicator Installer on 2019-03-21 12:05:16.
#The original can be found in archived file with the name htaccess.orig

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /

#https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# END WordPress